@import "variables";

/* FOOTER */
.footer{
    width: 100%;
    bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: repeating-linear-gradient(to bottom,#b9821b00, #b9821b);
    // background-image: repeating-linear-gradient(to bottom, #e06be0 ,rgba(255, 255, 255, 0)) ;
    .footer_logo{
        width: 15%;
        border-radius: 50%;
    }
    .footer__contacto{
        width: 30%;
        text-align: center;
        .footer__contacto__linkContacto {
            width: 25%;
            height: 40%;
            text-align: center;
            font-size: 3rem;
            color: black;
            font-weight: 500;
            text-shadow: 0.2rem 0.2rem white;
        }
        .footer__contacto__redes{
            width:100%;
            height: 60%;
            display: flex;
            padding-bottom: 0;
            flex-direction:row;
            align-items:flex-end;
            justify-content: space-between;
            font-size: 4rem;
            font-weight: 700;
            text-shadow: 0.1rem 0.1rem black;
            @each $name, $value in $Redes{
                .fa-#{$name}{
                    color:$value;
                }
            }
        }
    }
}

