@import "variables";

/* Mobile First */
@media  (max-width:800px){
    .main__index1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2% 5%;
    }
    .main__index1__audio{
        padding-top: 5%;
    }
    .nav-link{
        font-size: 1rem !important;
    }
    .main__index2{
        display: block;
    }
    .footer_logo{
        width:25% !important;
    }
    .footer__contacto{
        width:35% !important;
        .footer__contacto__redes{
            font-size: 3rem !important;
            align-items: center !important;
        }    
    }
    .main__sobreNos__presentacion__titulo{
        font-size: 2rem !important;
    }
    .main__sobreNos__presentacion__texto{
        font-size: 0.8rem  !important;
    }
    .main__formulario{
        font-size: 0.8rem;
    }

}


