// VARIABLES Y MAPS PARA REUTILIZAR
$degradeVioleta: repeating-linear-gradient(250deg, white, #e06be0);
$degradeMarron: repeating-linear-gradient(to right, rgba(189, 168, 101, 0.459), #b9821b);
$nuevoDegrade: repeating-linear-gradient(to right, #b9821b1c, #b9821b );
$imagenHojas: url(/multimedia/hojasverdes.jpg);
$imagenSusana: url(/multimedia/susi.jpg);
$imagenCris: url(/multimedia/cris.jpg);

$Redes: (
    whatsapp: rgb(24, 167, 24),
    facebook: blue,
    twitter: rgb(3, 161, 214),
    youtube: red
)
